body{
	font-family:"Roboto","Arial",sans-serif;
	
}


form{
	margin: auto;
	width: 50%;
	background-image: url("background2.jpg");
}

h1{
	text-align: center;
}

input[type=text]{
  width: 100%;
  height: 30px;
}

}

button{
  width: 100px;
  height: 40px;
  background-color: #DCDCDC;
}
    

